.App {
  text-align: center;
}

#apod {
  max-width: 600px;
  width: 80%;
  height: 100vh;
  max-height: 400px;
  background: white;
  margin: 0 auto;
  margin-top: 2vh;
  margin-bottom: 2vh;
  padding: 10px;
  padding-bottom: 20px;
  border: 1px solid black;
  transform: rotate(-1deg);
}

#apod img, #apod iframe {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border: 1px solid black;
}

p.description {
  line-height: 1.8rem;
  padding: 2rem;
  text-align: left;
  background: rgba(0,0,0, .7);
  margin: 0 auto;
  margin-top: 5vh;
  margin-bottom: 5vh;
  width: 90%;
  max-width: 800px;
  border-radius: 5px;
}


@media (max-width: 400px){
  #apod {
    max-height: 300px;
  }
  p.description {
    padding: 1rem 10px;
  }
}